.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.NavBar {
  padding: 20px 20px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-weight: 700;
  background-color: #282c34;
}


.player-form {
  padding: 10px 10px;
  font-family: 'Courier New', Courier, monospace;
}

.submitButton {
  margin: 10px 10px;
  padding: 10px;
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.add-skin {
  margin: 10px 10px;
  font-size: larger;
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
  height: 50px;
  width: 50px
}

.player-item {
  list-style: none;
  padding: 10px 10px;
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.score-title {
  margin: 10px 10px;
  font-size: xx-large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.score-title-2 {
  margin: 10px 10px;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.score-title-2 p {
  display: inline-block;
  vertical-align: top;
}

.skinCount {
  color: white;
  border-radius: 20px;
  width: 20px;
  padding: 10px 10px;
  background-color: #282c34;
}

.skinCountOne {
  padding: 10px 10px;
}

.previous-hole {
  margin: 10px 10px;
  background-color: white;
  border-radius: 10px;
  height: 50px;
  width: 50px
}


.push {
  margin: 10px 10px;
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border-radius: 10px;
  height: 50px;
  width: 50px;
}


.player-list .player-item {
  list-style: none;
  display: flex;
  justify-content: left;
  margin-left: 20%;
  padding-top: 5px;
}

.remove-item {
  background-color: white;
}

.player-list .player-item .remove-item {
  margin: 5px;
}

.player-list .player-item:hover .remove-item {
  background-color: red;
  color: white;
}

.player-list .player-item .add-item {
  margin: 5px;
}

.player-list .player-item:hover .add-item {
  background-color: green;
  color: white;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}